@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Shared style */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn-primary {
  background-color: #fd6e0a;
  border: none;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.mb-3 {
  margin-bottom: 3%;
}
.mtb-30 {
  margin: 30px 0;
}
.text-center {
  text-align: center;
}
/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0px 0px 0px 230px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav li > a {
  text-decoration: none;
  font-size: 20px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* Header Styles */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Banner Styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
  margin-bottom: 184px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 80px;
  font-weight: bold;
}
.banner-description {
  font-size: 18px;
  line-height: 30px;
}
.banner-profile-picture {
  width: 580px;
}
.btns {
  display: flex;
  gap: 5%;
}

/* Main Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* About Styles */
.about-container {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about {
  background-color: white;
  border: 1px solid black;
  padding: 2%;
}
.about-items {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.item-description {
  font-weight: 600;
}
/* Skill Styles */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
/* Resume Styles */
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-subtitle {
  font-size: 20px;
  font-weight: 600;
}
.resume-column-title {
  font-size: 18px;
}
.experience-description {
}
.resume {
  text-align: justify;
}
/* Footer  style */
footer {
  display: flex;
  padding: 130px 230px;
  gap: 100px;
}
.footer-column {
  width: 50%;
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
}
.social-icons a {
  border-bottom: #fd6e0a 3px dashed;
  padding: 1%;
  border-radius: 15px;
}
footer input[type="text"],
footer input[type="email"],
footer textarea {
  width: 100%;
  height: 64px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid#F7f7f7;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 24px;
}
